.container {
    margin-top: var(--space-16);
}
.listCategoryWrapper {
    gap: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    max-height: 250px;
}
.categoryCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: var(--space-16);
    width: 128.85px;
    height: 120px;
    margin-top: var(--space-4);
    margin-left: 2px;
    margin-right: 2px;
    & + & {
        margin-top: var(--space-16);
    }
}

.categoryCard:hover {
    opacity: 0.8;
    scale: 1.05;
}

.categoryCardContent {
    margin-top: var(--space-8);
    p {
        text-align: center;
        width: calc(100% - 4px);
    }
}
